# Backend (apps/api)
DATABASE_URL="postgresql://user:Rafif211206@localhost:5432/Kasir_umkm"
JWT_SECRET="ganti-dengan-secret-yang-kuat-minimal-32-karakter"
JWT_EXPIRES_IN="7d"
JWT_PIN_EXPIRES_IN="8h"
PORT=3001
NODE_ENV="development"

# Frontend (apps/web)
VITE_API_URL="http://localhost:3001/api/v1"
VITE_APP_NAME="Kasir UMKM"
